<configuration xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <events>
      <event name="item:moved">
        <handler type="Sitecore.Modules.EventCalendar.Handlers.EventItemHander, Sitecore.Calendar" method="OnItemMoved" />
      </event>
      <event name="item:saved">
        <handler type="Sitecore.Modules.EventCalendar.Handlers.EventItemHander, Sitecore.Calendar" method="OnItemSaved" />
      </event>
    </events>

    <commands>
      <command name="calendar:configure" type="Sitecore.EventCalendar.Configure.Open, Sitecore.Calendar"/>
      <command name="event:create" type="Sitecore.Modules.EventCalendar.Objects.Commands.CreateEvent, Sitecore.Calendar"/>
      <command name="schedule:create" type="Sitecore.Modules.EventCalendar.Objects.Commands.CreateSchedule, Sitecore.Calendar"/>
      <command name="recurrence:daily" type="Sitecore.Modules.EventCalendar.Objects.Commands.DailyRecurrence, Sitecore.Calendar"/>
      <command name="recurrence:weekly" type="Sitecore.Modules.EventCalendar.Objects.Commands.WeeklyRecurrence, Sitecore.Calendar"/>
      <command name="recurrence:monthly" type="Sitecore.Modules.EventCalendar.Objects.Commands.MonthyRecurrence, Sitecore.Calendar"/>
      <command name="recurrence:yearly" type="Sitecore.Modules.EventCalendar.Objects.Commands.YearlyRecurrence, Sitecore.Calendar"/>
    </commands>

  </sitecore>
</configuration>
