/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

         Colors

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.eventWizardTabActive A,
.eventToolbarTable,
.textEvent
{
   color: #e58a99;
}

.eventWizardTab A,
.eventWizardButton,
.eventWizardButton A,
.eventToolbarButton,
.eventToolbarCancel,
.event,
.eventList,
.event A,
.eventWeek,
.eventWeek A,
.eventPhantom A,
.eventPhantom,
.daysNames,
.viewModeLink,
.dayTasksMenuItem,
.dayTasksMenuItem A,
.TabActive,
.TabActive a,
.navHeader,
.navDayHeader,
.navDaySelected a,
.navOtherMonth A,
.navNextPrev,
.navNextPrev A,
.navWeekdays,
.firstHalf,
.calendarsListHeader,
.dayCellSelected, 
.dayCellSelected A
{
   color: black;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

         Background Colors

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.eventWizardHeader,
.eventWizardTab,
.eventWizardTab A,
.eventWizardBFrame,
.wizardLink,
.event,
.eventList,
.event A,
.eventWeek,
.eventWeek A,
.eventPhantom A,
.eventPhantom,
.daysNames,
.viewModeLink,
.dayTasksMenuItem,
.dayTasksMenuItem A,
.frame,
.TabActive,
.TabActive a,
.navHeader,
.navDayHeader,
.firstHalf,
.secHalf,
.calendarsListHeader
{
   background-color: #e58a99;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

         Borders

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.eventWizard,
.navCalendar,
.secHalf,
.calendarsList,
.quickSelect
{
   border-top: #e58a99 1px solid;
}

.eventWizard,
.secHalf,
.navCalendar
{
   border-right: #e58a99 1px solid;
   border-left: #e58a99 1px solid;
   border-bottom: #e58a99 1px solid;
}
