/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

         Colors

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.eventWizardTabActive A,
.eventToolbarTable,
.viewModeLink,
.textEvent
{
   color: #875FBE;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

         Background Colors

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.eventWizardHeader,
.eventWizardTab,
.eventWizardTab A,
.eventWizardBFrame,
.wizardLink,
.event,
.eventList,
.event A,
.eventWeek,
.eventWeek A,
.eventPhantom A,
.eventPhantom,
.daysNames,
.viewModeLink,
.dayTasksMenuItem,
.dayTasksMenuItem A,
.frame,
.TabActive,
.TabActive a,
.navHeader,
.navDayHeader,
.firstHalf,
.secHalf,
.calendarsListHeader
{
   background-color: #875FBE;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

         Borders

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.eventWizard,
.navCalendar,
.secHalf,
.viewModeLink,
.calendarsList,
.quickSelect
{
   border-top: #875FBE 1px solid;
}

.eventWizard,
.secHalf,
.navCalendar
{
   border-right: #875FBE 1px solid;
   border-left: #875FBE 1px solid;
   border-bottom: #875FBE 1px solid;
}
